html,
body {
	height: 100%;
	margin: 0;
}

.content-wrapper {
	min-height: 100%;
	// Equal to height of footer
	// the footer is 544px with the margin
	margin-bottom: -494px;
}

// This pushes the footer below the body content
.push {
	height: 494px;
}
