footer {
  margin-top: 350px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__items {
    margin: 5px 0 5px 0;
    color: #363636;

    &--right {
      margin-left: auto;
    }
  }

  &__items:hover {
    color: #11571C;
  }
}