@import "./bulma/index.scss";
@import "./global/index.scss";
@import "./themes/index.scss";

// ==================
// Page titles
// ==================
.page-header {
	margin-top: 100px;
	margin-bottom: 100px;

	&--max-width {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&__title {
		color: $secondary-dark;
	}
}

// ==================
// Forms
// ==================
.form {
	&__container {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	&--small {
		max-width: 500px;
	}

	&__error-msg {
		margin-top: 30px;
	}

	&--rounded-left {
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&--rounded-right {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__buttons {
		margin-top: 100px;
	}
}
