<div class="search__container">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="max-width-500 mx-auto">
      <div class="field has-addons is-relative">
        <p class="control is-expanded">
          <input class="input is-rounded" type="text" id="name" #name autocomplete="off" formControlName="name"
            placeholder="Recipe Name" (keydown.arrowdown)='onArrowDown()' (keydown.arrowup)='onArrowUp($event)'
            (keydown.esc)='onEscape()' />
        </p>
        <p class="control">
          <button type="submit" class="button search__submit-btn">
            Search
          </button>
        </p>

        <!-- Autocomplete items -->
        <ng-container *ngIf="recipes$ | async as recipes">
          <ng-container *ngIf='recipes.length > 0'>
            <div class="search__items-container">
              <p *ngFor="let recipe of recipes; let i = index" [class.search--highlighted]="highlightedIndex === i"
                class="search__items" (click)="chooseSearchItem(recipe.id)">
                {{ recipe.name }}
              </p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>
</div>