<section class="section page-header">
  <h1 class="title page-header__title has-text-centered">Reset Password</h1>
  <p class="subtitle has-text-centered">Enter your new password.</p>
</section>

<div class="form__container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="columns">
      <!-- Password -->
      <div class="column">
        <div class="field">
          <label class="label" for="password">
            Password *
            <span class="has-text-weight-light is-size-7">
              at least 8 characters
            </span>
          </label>
          <div class="control has-icons-left">
            <input 
              data-test='password' 
              class="input is-rounded" 
              type="password" 
              id="password" 
              formControlName="password" 
              placeholder="Password"
              [class.is-danger]="password.invalid && (password.dirty || password.touched || submitted)"
              [class.is-success]="password.valid && (password.value === passwordConfirmation.value)"
              required>
            <span class="icon is-left">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
            <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="has-text-danger">
              <p *ngIf="password.errors.required" data-test='passwordRequired'>Password is required</p>
              <p *ngIf="password.errors.minlength" data-test='passwordLength'>Password must be at least 8 characters</p>
            </div>
            <div class="has-text-success" *ngIf="password.valid && (password.value === passwordConfirmation.value)">
              <p data-test='passwordMatch'>Passwords match</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Password Confirmation -->
      <div class="column">
        <div class="field">
          <label class="label" for="passwordConfirmation">
            Password Confirmation *
            <span class="has-text-weight-light is-size-7">
              at least 8 characters
            </span>
          </label>
          <div class="control has-icons-left">
            <input 
              data-test='passwordConfirmation' 
              class="input is-rounded" 
              type="password" 
              id="passwordConfirmation" 
              formControlName="passwordConfirmation" 
              placeholder="Password"
              [class.is-danger]="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched || submitted)"
              [class.is-success]="password.valid && (password.value === passwordConfirmation.value)"
              required>
            <span class="icon is-left">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
            <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched || submitted)" class="has-text-danger">
              <p *ngIf="passwordConfirmation.errors.required" data-test='passwordConfirmationRequired'>Password confirmation is required</p>
              <p *ngIf="passwordConfirmation.errors.minlength" data-test='passwordConfirmationLength'>Password must be at least 8 characters</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Form error message -->
    <div class="notification is-danger form__error-msg" *ngIf="formError">
      <button class="delete" (click)='clearErrorMessage()'></button>
      {{ formError }}
    </div>

    <!-- Form buttons -->
    <div class="field is-grouped is-grouped-right form__buttons">
      <p class="control">
        <a class="button is-light is-rounded" routerLink="/">
          Home
        </a>
      </p>
      <p class="control">
        <button 
          data-test="submit-button"
          class="button is-accent is-rounded" 
          type="submit" 
          [class.is-loading]="sendingForm">
          Reset
        </button>
      </p>
    </div>
  </form>
</div>