<p class='has-text-centered spacing'>
  This website was made by David Nelson.
  <br />
  If you have any questions or comments, please 
  <a href="mailto:davidmarknelson@protonmail.com">
    email him
  </a>.
</p>

<p class='has-text-centered'>
  View the 
  <a href="https://github.com/davidmarknelson/share-family-recipes" target="_blank">
    client source code
  </a>.
</p>

<p class='has-text-centered'>
  View the 
  <a href="https://github.com/davidmarknelson/share-family-recipes-api" target="_blank">
    server source code
  </a>.
</p>

<p class='has-text-centered'>
  View the 
  <a href="https://davidmarknelson.github.io/share-family-recipes-api-docs/#share-family-recipes-api" target="_blank">
    documentation
  </a>.
</p>
