<section class="section page-header">
  <h1 class="title page-header__title has-text-centered">Admin</h1>
  <p class="subtitle has-text-centered">View signed up user info.</p>
</section>

<!-- error message -->
<div class="notification is-danger error-msg" *ngIf="errorMessage">
  <button class="delete" (click)='clearErrorMessage()'></button>
  {{ errorMessage }}
</div>

<div class="container table__wrapper">

  <!-- User count -->
  <p class='has-text-right user-count'  *ngIf='users'>
    Users {{ initialPageUserNumber || 1 }}-{{ finalPageUserNumber || 10 }} out of {{ users.count }}
  </p>

  <div class="push-right">
    <div class="select is-primary is-rounded is-small user-count__select user-count">
      <select (change)="onChange($event.target.value)">
        <option>Change amount shown</option>
        <option *ngFor="let amount of usersShown">
          Show {{ amount }}
        </option>
      </select>
    </div>
  </div>

  <div class="table-container">
    <table class="table is-hoverable is-fullwidth">
      <!-- Table Head -->
      <thead>
        <tr>
          <th 
            [class.table__sorted-column]='adminData.usernameAtoZ.selected || adminData.usernameZtoA.selected' 
            data-test='headerUsername'>
            <a class='table__link' (click)='toggleSortByUsername()'>
              <abbr title="Username">
                User 
                <fa-icon [icon]="faSort"></fa-icon>
              </abbr>
            </a>
          </th>

          <th 
            [class.table__sorted-column]='adminData.firstNameAtoZ.selected || adminData.firstNameZtoA.selected' 
            data-test='headerFirstName'>
            <a class='table__link' (click)='toggleSortByFirstName()'>
              <abbr title="First name">
                First 
                <fa-icon [icon]="faSort"></fa-icon>
              </abbr>
            </a>
          </th>
          <th 
            [class.table__sorted-column]='adminData.lastNameAtoZ.selected || adminData.lastNameZtoA.selected' 
            data-test='headerLastName'>
            <a class='table__link' (click)='toggleSortByLastName()'>
              <abbr title="Last name">
                Last 
                <fa-icon [icon]="faSort"></fa-icon>
              </abbr>
            </a>
          </th>
          <th>Email</th>
          <th>Verified</th>
          <th>Admin</th>
          <th 
            [class.table__sorted-column]='adminData.newest.selected || adminData.oldest.selected' 
            data-test='headerSignedUp'>
            <a class='table__link' (click)='toggleSortByDate()'>
              Signed up 
              <fa-icon [icon]="faSort"></fa-icon>
            </a>      
          </th>
          <th>Meals</th>
        </tr>
      </thead>
  
      <!-- Table loading message -->
      <tbody *ngIf='!users'>
        <tr>
          <td class='has-text-centered' colspan="8">
            Getting data...
          </td>
        </tr>
      </tbody>

      <!-- Table Body -->
      <tbody *ngIf='users'>
        <tr *ngFor='let user of users.rows'>
          <td>
            {{ user.username }}
          </td>
          <td>
            {{ user.firstName }}
          </td>
          <td>
            {{ user.lastName }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.isVerified }}
          </td>
          <td>
            {{ user.isAdmin }}
          </td>
          <td>
            {{ user.createdAt }}
          </td>
          <td>
            {{ user.meals.length }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-pagination
  *ngIf='users'
  (pageChange)='onPageChange($event)'
  [count]='users.count'
  [limit]='limit'
  [offset]='offset'
></app-pagination>