<section class="section page-header">
  <h1 class="title page-header__title has-text-centered">Sign Up</h1>
  <p class="subtitle has-text-centered">Create a new account.</p>
</section>


<div class="form__container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
    <p class="has-text-right is-size-7">* required</p>
    <div class="columns">
      <!-- First Name -->
      <div class="column">
        <div class="field">
          <label class="label" for="firstName">First Name *</label>
          <div class="control">
            <input 
              data-test='firstName'
              class="input is-rounded" 
              type="text" 
              id="firstName" 
              formControlName="firstName" 
              placeholder="John"
              [class.is-danger]="firstName.invalid && (firstName.dirty || firstName.touched || submitted)"
              [class.is-success]="firstName.valid"
              required>
          </div>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || submitted)" class="has-text-danger">
            <p *ngIf="firstName.errors.required" data-test='firstNameRequired'>First name is required</p>
          </div>
        </div>
      </div>
      <!-- Last Name -->
      <div class="column">
        <div class="field">
          <label class="label" for="lastName">Last Name *</label>
          <div class="control">
            <input 
              data-test='lastName' 
              class="input is-rounded" 
              type="text" 
              id="lastName" 
              formControlName="lastName" 
              placeholder="Doe"
              [class.is-danger]="lastName.invalid && (lastName.dirty || lastName.touched || submitted)"
              [class.is-success]="lastName.valid"
              required>
          </div>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched || submitted)" class="has-text-danger">
            <p *ngIf="lastName.errors.required" data-test='lastNameRequired'>Last name is required</p>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <!-- Email -->
      <div class="column">
        <div class="field">
          <label class="label" for="email">Email *</label>
          <div class="control has-icons-left">
            <input 
              data-test='email'
              class="input is-rounded" 
              type="email" 
              id="email" 
              formControlName="email" 
              placeholder="example@email.com"
              [class.is-danger]="(email.invalid && (email.dirty || email.touched || submitted)) || emailTaken"
              [class.is-success]="email.valid && !emailTaken"
              required>
            <span class="icon is-left">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="has-text-danger">
              <p *ngIf="email.errors.required" data-test='emailRequired'>Email is required</p>
              <p *ngIf="email.errors.email" data-test='notEmail'>This must be an email</p>
            </div>
            <div *ngIf="emailTaken" class="has-text-danger">
              <p data-test='emailTaken'>This email account is already in use.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="columns">
      <!-- Username -->
      <div class="column">
        <div class="field">
          <label class="label" for="username">
            Username * 
            <span class="has-text-weight-light is-size-7">
              between 5 and 15 characters
            </span>
          </label>
          <div class="control has-icons-left">
            <input 
              data-test='username'
              class="input is-rounded" 
              type="text" 
              id="username" 
              formControlName="username" 
              placeholder="JohnDoe2019"
              [class.is-danger]="(username.invalid && (username.dirty || username.touched || submitted)) || 
                (!availableUsername && username.valid)"
              [class.is-success]="availableUsername && username.valid"
              required>
            <span class="icon is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <div *ngIf="username.invalid && (username.dirty || username.touched || submitted)" class="has-text-danger">
              <p *ngIf="username.errors.required" data-test='usernameRequired'>Username is required</p>
              <p *ngIf="username.errors.minlength" data-test='usernameMinLength'>Username must be at least 5 characters</p>
              <p *ngIf="username.errors.maxlength" data-test='usernameMaxLength'>Username must not be more than 15 characters</p>
              <p *ngIf="username.errors.pattern" data-test='usernamePattern'>Username must not contain a space</p>
            </div>
            <div *ngIf="availableUsername && username.valid" class="has-text-success">
              <p data-test="usernameAvailable">This username is available</p>
            </div>
            <div *ngIf="!availableUsername && username.valid" class="has-text-danger">
              <p data-test="usernameUnavailable">This username is already taken</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <!-- Password -->
      <div class="column">
        <div class="field">
          <label class="label" for="password">
            Password *
            <span class="has-text-weight-light is-size-7">
              at least 8 characters
            </span>
          </label>
          <div class="control has-icons-left">
            <input 
              data-test='password' 
              class="input is-rounded" 
              type="password" 
              id="password" 
              formControlName="password" 
              placeholder="Password"
              [class.is-danger]="password.invalid && (password.dirty || password.touched || submitted)"
              [class.is-success]="password.valid && (password.value === passwordConfirmation.value)"
              required>
            <span class="icon is-left">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
            <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="has-text-danger">
              <p *ngIf="password.errors.required" data-test='passwordRequired'>Password is required</p>
              <p *ngIf="password.errors.minlength" data-test='passwordLength'>Password must be at least 8 characters</p>
            </div>
            <div class="has-text-success" *ngIf="password.valid && (password.value === passwordConfirmation.value)">
              <p data-test='passwordMatch'>Passwords match</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Password Confirmation -->
      <div class="column">
        <div class="field">
          <label class="label" for="passwordConfirmation">
            Password Confirmation *
            <span class="has-text-weight-light is-size-7">
              at least 8 characters
            </span>
          </label>
          <div class="control has-icons-left">
            <input 
              data-test='passwordConfirmation' 
              class="input is-rounded" 
              type="password" 
              id="passwordConfirmation" 
              formControlName="passwordConfirmation" 
              placeholder="Password"
              [class.is-danger]="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched || submitted)"
              [class.is-success]="password.valid && (password.value === passwordConfirmation.value)"
              required>
            <span class="icon is-left">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
            <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched || submitted)" class="has-text-danger">
              <p *ngIf="passwordConfirmation.errors.required" data-test='passwordConfirmationRequired'>Password confirmation is required</p>
              <p *ngIf="passwordConfirmation.errors.minlength" data-test='passwordConfirmationLength'>Password must be at least 8 characters</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="columns">
      <!-- Profile Picture -->
      <div class="column is-half">
        <div class="field">
          <label class="label" for="image">
            Profile Picture
            <br>
            <span class="has-text-weight-light is-size-7">
              must be JPEG max 5mb
            </span>
            <br>
            <span class="has-text-weight-light is-size-7">
              your face centered in the picture works best
            </span>
          </label>
        
          <!-- image upload -->
          <app-image-upload
            (uploadedImage)='onImageUpload($event)'
            (isSendingDeleteToken)='onImageDelete($event)'
            (isImageLoading)='onImageLoading($event)'>
          </app-image-upload>
        </div>
      </div>
      <!-- Admin Code -->
      <div class="column is-half">
        <a 
          data-test="adminLink"
          href="javascript:void(0)" 
          (click)='toggleAdminField()' 
          *ngIf='!showAdminField'>
          I have an admin code.
        </a>
        <div class="field" *ngIf='showAdminField'>
          <label class="label" for="adminCode">Admin Code</label>
          <div class="control">
            <input 
              data-test="adminCode"
              class="input is-rounded" 
              type="text" 
              id="adminCode" 
              formControlName="adminCode" 
              placeholder="Enter code here">
          </div>
        </div>
      </div>
    </div>

    <!-- Form error message -->
    <div 
      class="notification is-danger" 
      *ngIf="formError"
      data-test="form-err">
      <button class="delete" (click)='clearErrorMessage()' type="button"></button>
      {{ formError }}
    </div>
    
    <!-- Form buttons -->
    <div class="field is-grouped is-grouped-right form__buttons">
      <p class="control">
        <a class="button is-light is-rounded" (click)="navigateBack()">
          Back
        </a>
      </p>
      <p class="control">
        <button 
          data-test="submit-button"
          class="button is-accent is-rounded" 
          type="submit" 
          [class.is-loading]="sendingForm">
          Sign Up
        </button>
      </p>
    </div>
  </form>
</div>
