<app-content-container>
  <!-- Recipe -->
  <ng-container *ngIf="getRecipe$ | async as recipe; else loadingOrError">
    <!-- Title -->
    <app-page-title [title]="recipe.name" [subtitle]="recipe.description">
    </app-page-title>

    <!-- Pictures -->
    <div class="columns">
      <div class="column">
        <!-- Meal picture -->
        <figure class="image is-4by3 is-clipped rounded-corners">
          <img src="{{ recipe.mealPic.mealPicName }}" alt="image of {{ recipe.name }}" class="recipe-img" />
        </figure>
      </div>
      <div class="column grid-centered">
        <!-- Creator's profile picture -->
        <figure class="image max-width-175 img-circles">
          <img src="{{ recipe.creator.profilePic.profilePicName }}" alt="image of {{ recipe.creator.username }}"
            class="is-rounded" />
        </figure>
        <p>
          Created {{ recipe.createdAt }} by
          <a data-test="username-link" [routerLink]="['/recipes', 'user-recipes']"
            [queryParams]="{ username: recipe.creator.username }">
            {{ recipe.creator.username }}
          </a>
          .
        </p>
      </div>
    </div>

    <!-- Buttons and info -->
    <div class="info">
      <div class="columns">
        <div class="column info__container">
          <!-- Likes -->
          <div>
            <app-likes-button [user]="user" [recipe]="recipe"></app-likes-button>
          </div>

          <!-- Difficulty -->
          <div class="info--align info--pointer" data-tooltip="Difficulty">
            <fa-icon [icon]="faFireAlt" size="lg"></fa-icon>
            <span class="info__numbers">{{ recipe.difficulty }}</span>
          </div>

          <!-- Cook time -->
          <div class="info--align info--pointer" data-tooltip="Cook time">
            <fa-icon [icon]="faClock" size="lg"></fa-icon>
            <span class="info__numbers">{{ recipe.cookTime }}</span>
          </div>
        </div>
        <div class="column info__container">
          <a data-test="edit-btn" class="button is-primary is-rounded is-small"
            *ngIf="user && user.id === recipe.creatorId" [routerLink]="['/create', 'edit']"
            [queryParams]="{ recipe: recipe.id }">
            Edit
            <fa-icon [icon]="faChevronRight" class="info__numbers"></fa-icon>
          </a>

          <app-saved-recipe-button [recipe]="recipe" [user]="user"></app-saved-recipe-button>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <div class="mt-176 max-width-750 mx-auto">
      <h2 class="title has-text-centered">Ingredients</h2>

      <div class="columns is-multiline">
        <div class="column is-half has-text-centered" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient }}
        </div>
      </div>
    </div>

    <!-- Instructions -->
    <div class="mt-176 max-width-750 mx-auto">
      <h2 class="title has-text-centered">Instructions</h2>

      <ul>
        <li *ngFor="let instruction of recipe.instructions; let i = index" [attr.data-index]="i" class="mt-8">
          {{ i + 1 }}. {{ instruction }}
        </li>
      </ul>
    </div>

    <!-- Recipe YouTube Video -->
    <div data-test="youtubeUrl" class="mt-176" *ngIf="recipe.youtubeUrl">
      <figure class="image is-16by9">
        <iframe class="has-ratio" width="560" height="315" [src]="recipe.youtubeUrl | safeUrl" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </figure>
    </div>
  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
      <!-- Error -->
      <article class="message is-danger max-width-500 mx-auto">
        <div class="message-body">
          {{ error }} Try looking for the recipe in the
          <a routerLink="/recipes">list of recipes</a>.
        </div>
      </article>
    </ng-container>

    <!-- loading -->
    <ng-template #loading>
      <p class="has-text-centered">Loading...</p>
    </ng-template>
  </ng-template>
</app-content-container>