<!-- Loading bar for getting the recipe -->
<progress class="progress is-primary" max="100" *ngIf='loading'></progress>

<!-- Error -->
<div class="error-container">
  <article class="message is-danger" *ngIf='error'>
    <div class="message-body">
      {{ error }} Try looking for the recipe in the <a routerLink='/recipes'>list of recipes</a>.
    </div>
  </article>
</div>

<!-- Title -->
<section class="section page-header" *ngIf='recipe'>
  <div class="container">
    <h1 class="title page-header__title has-text-centered page-header--max-width">{{ recipe.name }}</h1>
    <p class="subtitle has-text-centered page-header--max-width">{{ recipe.description }}</p>
  </div>
</section>

<!-- Pictures -->
<div class="container container-padding" *ngIf='recipe'>
  <div class="columns">
    <div class="column">
      <!-- Meal picture -->
      <img 
        src="{{ recipe.mealPic.mealPicName }}" 
        alt="image of {{ recipe.name }}"
        class='rounded-corners'>
    </div>
    <div class="column profile-img__container">
      <!-- Creator's profile picture -->
      <figure class='image profile-img--width profile-img__circles'>
        <img 
          src="{{ recipe.creator.profilePic.profilePicName }}" 
          alt="image of {{ recipe.creator.username }}"
          class='is-rounded'>
      </figure>
      <p>Created {{ recipe.createdAt }} by <a href="">{{ recipe.creator.username }}</a>.</p>    
    </div>
  </div>
</div>

<!-- Buttons and info -->
<div *ngIf='recipe' class='info'>
  <div class="columns">
    <div class="column info__container">

      <!-- Likes -->
      <div>
        <app-likes-button
          *ngIf='recipe'
          [user]='user'
          [recipe]='recipe'
        ></app-likes-button>
      </div>
    
      <!-- Difficulty -->
      <div class='info--align info--pointer' data-tooltip="Difficulty">
        <fa-icon [icon]="faFireAlt" size='lg'></fa-icon>
        <span class='info__numbers'>{{ recipe.difficulty }}</span>
      </div>
    
      <!-- Cook time -->
      <div class='info--align info--pointer' data-tooltip="Cook time">
        <fa-icon [icon]="faClock" size='lg'></fa-icon>
        <span class='info__numbers'>{{ recipe.cookTime }}</span>
      </div>

    </div>
    <div class="column info__container">
      <a 
        data-test='edit-btn' 
        class='button is-primary is-rounded is-small'
        *ngIf='user && user.id === recipe.creatorId'>
        Edit 
        <fa-icon [icon]="faChevronRight" class='info__numbers'></fa-icon>
      </a>

      <app-saved-recipe-button
        [recipeId]='recipe.id'
        [user]='user'
      ></app-saved-recipe-button>
    </div>
  </div>
</div>


<!-- Ingredients -->
<div class="step-container" *ngIf='recipe'>
  <h2 class='title has-text-centered'>Ingredients</h2>

  <div class="columns is-multiline">
    <div class="column is-half has-text-centered" *ngFor='let ingredient of recipe.ingredients'>
      {{ ingredient }}
    </div>
  </div>
</div>

<!-- Instructions -->
<div class="step-container step-container--bottom-margin" *ngIf='recipe'>
  <h2 class='title has-text-centered'>Instructions</h2>

  <ul>
    <li 
      *ngFor='let instruction of recipe.instructions; let i = index' 
      [attr.data-index]="i"
      class='li-item'>
      {{ i + 1 }}. {{ instruction }}
    </li>
  </ul>
</div>


<!-- Original Recipe url -->
<div class="step-container" *ngIf='recipe && recipe.originalRecipeUrl'>
  <p>
    You can view the original recipe at 
    <a 
      href='{{ recipe.originalRecipeUrl }}'
      target="_blank">
      {{ recipe.originalRecipeUrl }}
    </a>.
  </p>
</div>

<!-- Recipe YouTube Video -->
<div class="step-container" *ngIf='recipe && recipe.youtubeUrl'>
  <figure class="image is-16by9">
    <iframe 
      class="has-ratio"
      width="560" 
      height="315" 
      [src]="recipe.youtubeUrl | safeUrl" 
      frameborder="0" 
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </figure>
</div>