<div class="file has-name">
  <label class="file-label">
    <input 
      class="file-input" 
      type="file" 
      name="image" 
      id="image" 
      (change)="onFileSelected($event)">
    <span class="file-cta form--rounded-left">
      <span class="file-icon">
        <fa-icon [icon]="faFileUpload"></fa-icon>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    <span class="file-name form--rounded-right" [class.has-text-secondary]='isFileSelected'>
      {{ selectedFileName }}
    </span>
  </label>
</div>

<progress 
  *ngIf='isImageSending'
  class="progress upload-bar" 
  value="{{ imageLoadedAmount }}" 
  max="100">
  {{ imageLoadedAmount }}%
</progress>

<div *ngIf='isFileSelected' class='upload-data'>
  <span 
    *ngIf='isImageSending && !hasImageErrored'
    data-test="uploading-percentage">
    Uploaded {{ imageLoadedAmount }}%
  </span>
  <span 
    *ngIf='isUploadCompleted && !hasImageErrored'
    data-test="uploading-complete">
    Upload complete
  </span>

  <button
    *ngIf='!isImageSending && !isUploadCompleted && !hasImageErrored'
    data-test='upload-btn'
    class='button is-primary is-rounded is-small'
    type="button"
    (click)='uploadImage()'>
    Upload
  </button>

  <button 
    class='button is-danger is-light is-rounded is-small' 
    data-test='remove-img-btn'
    [class.is-loading]='isDeleting'
    (click)='deleteUploadedFile()'
    type="button"
    [disabled]='isImageSending'>
    Remove Image
  </button>
</div>

<!-- Image error message -->
<div class="notification is-danger image-err" *ngIf="imageError">
  <button 
    class="delete" 
    (click)='clearImageErrorMessage()' 
    type="button">
  </button>
  {{ imageError }}
</div>