.likes-container {
  cursor: default;
}

.btn {
  margin-bottom: 3px;
  border: none;
  border-radius: 50%;
  padding: 7px;

  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: #bee0c0;
  }

  &__liked {
    color: hsl(217, 71%, 53%);
  }

  &__numbers {
    margin-left: 5px;
    cursor: default;
  }
}