<section class="hero is-large hero__background">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-secondary-dark is-family-secondary hero__title">
        Share Family Recipes
      </h1>
      <h2 class="subtitle">
        Upload, view, and save recipes!
      </h2>
    </div>
  </div>
</section>

<div class='chevron-container' id='chevron'>
  <a pageScroll href="#chevron" [pageScrollDuration]="500" [pageScrollEasing]="myEasing">
    <fa-icon [icon]="faChevronDown" size='2x' class='has-text-secondary-dark'></fa-icon>
  </a>
</div>

<!-- Action button -->
<section class="btn__center">
  <a class='button action-btn is-rounded' routerLink='/recipes'>View Recipes</a>
</section>

<!-- Sharing section -->
<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <section class='info__text'>
          <h2 class='title is-size-4 info__title'>Finding and sharing recipes doesn’t have to be hard!</h2>
          <p class='subtitle'>
            You can upload your recipe and a picture of the meal you cooked. 
            You can save your favorite recipes to easily find that tasty dish you want try later.
          </p>
        </section>
      </div>
      <div class="column">
        <figure class="image">
          <img src="../../assets/images/landing-page-img/chef.svg" class='info__image'>
        </figure>
      </div>
    </div>
  </div>
</section>

<!-- Ads section -->
<section class="info">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image">
          <img src="../../assets/images/landing-page-img/ads.svg" class='info__image'>
        </figure>
      </div>
      <div class="column">
        <section class='info__text info__text--padding-bottom'>
          <h2 class='title is-size-4 info__title'>Are you tired of ads overwhelming your screen?</h2>
          <p class='subtitle'>
            We are, too! 
            Time is precious and looking at ads you don’t care about is annoying. 
            That’s why this website is ad free!
          </p>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- People like you section -->
<section class="info">
  <div class="container">
    <div class="columns">
      <div class="column">
        <section class='info__text info__text--padding-top'>
          <h2 class='title is-size-4 info__title'>Recipes for people just like you!</h2>
          <p class='subtitle'>
            So many sites show meals that are picture perfect. 
            They look good, but life never turns out that way. 
            The picture of the meals for these recipes are uploaded by other users like you. 
            This gives you a more realistic expectation of the dish so you will be happy with the way yours turns out and you can enjoy your meal.
          </p>
        </section>
      </div>
      <div class="column">
        <figure class="image">
          <img src="../../assets/images/landing-page-img/eating.svg" class='info__image'>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="btn__center">
  <a class='button action-btn is-rounded btn__bottom' routerLink='/signup'>Sign Up</a>
  <a class='button action-btn is-rounded btn__bottom' routerLink='/recipes'>View Recipes</a>
</section>