<section class="section page-header">
  <h1 class="title page-header__title has-text-centered">Profile</h1>
  <p class="subtitle has-text-centered">View your profile information.</p>
</section>

<div class='container'>
  <ng-container *ngIf='user$ | async as user; else loading'>

    <!-- Email verification messages -->
    <ng-container *ngIf='!user.isVerified'>
      <app-email-message [email]='user.email'></app-email-message>
    </ng-container>


    <div class="columns" *ngIf="user">
      <div class="column is-3"></div>
      <div class="column">
        <figure class="image img img--width img--centered">
          <img class="is-rounded" src="{{ user.profilePic.profilePicName }}" alt="{{ user.username}} profile picture"
            data-test='profilePic'>
        </figure>
      </div>
      <div class="column">
        <div class="info__parent">
          <div class="content info">
            <h2 class="is-size-3 has-text-weight-semibold" data-test='username'>{{ user.username }}</h2>
            <p class="is-size-4 has-text-weight-medium" data-test='name'>{{ user.firstName }} {{ user.lastName }}</p>
            <p class="is-size-4 has-text-weight-medium" data-test='email'>{{ user.email }}</p>
            <p data-test='date'>Signed up on {{ user.createdAt }}</p>
          </div>
        </div>
      </div>
      <div class="column is-3"></div>
    </div>

    <div class="buttons btn-field">
      <a data-test='edit-profile' class="button is-primary is-rounded" routerLink='/profile/edit'>
        Edit Profile
      </a>
      <a data-test='save-list-btn' class="button is-secondary is-rounded" routerLink='/recipes/saved-list'>
        Saved List
      </a>
      <a data-test='your-recipes' class="button is-secondary is-rounded" [routerLink]="['/recipes', 'user-recipes']"
        [queryParams]="{ username: user.username }">
        Your Recipes
      </a>
      <a class="button is-secondary is-rounded" routerLink='/profile/admin' *ngIf='user.isAdmin' data-test="admin-link">
        Admin
      </a>
    </div>
  </ng-container>
  <ng-template #loading>
    <p class="has-text-centered">Getting profile...</p>
  </ng-template>
</div>