footer {
  margin-top: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__items {
    margin: 5px 0 5px 0;
    color: #11571C;

    &--right {
      margin-left: auto;
    }
  }

  &__link {
    color: #11571C;
  }

  &__items:hover, &__link:hover {
    color: #232323;
  }
}