footer {
	margin-top: 300px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	&__items {
		margin: 5px 0 5px 0;
		color: #11571c;
	}

	&__link {
		color: #11571c;
	}

	&__items:hover,
	&__link:hover {
		color: #232323;
	}
}
