<section class="section page-header">
  <h1 class="title page-header__title has-text-centered">Reset Password</h1>
  <p class="subtitle has-text-centered">Enter the email associated with your account.</p>
</section>

<div class="form__container form--small">
  <form #form="ngForm" (ngSubmit)="sendEmail(form.value)">
    <p class="has-text-right is-size-7">* required</p>
    <!-- Email -->
    <div class="field">
      <label class="label" for="email">Email *</label>
      <div class="control has-icons-left">
        <input 
          placeholder="example@email.com"
          class="input is-rounded"
          id="email"
          name="email"
          type="text"
          [(ngModel)]="email.email"
          required>
        <span class="icon is-left">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </span>
      </div>
    </div>

    <!-- Form error message -->
    <div class="notification is-danger form__error-msg" *ngIf="formError">
      <button class="delete" (click)='clearErrorMessage()'></button>
      {{ formError }}
    </div>

    <!-- Email sending progress bar -->
    <article class="message is-info form__error-msg" *ngIf="sendingEmail" data-test='emailSending'>
      <p class="message-body">
        Sending email...
        <progress class="progress is-small is-info" max="100"></progress>
      </p>
    </article>

    <!-- Email sent success message -->
    <article class="message is-success form__error-msg" *ngIf="!formError && emailSuccess && !sendingEmail" data-test='emailSuccess'>
      <p class="message-body">
        An email has been sent with further instructions. 
        If you have not received an email, check your spam folder or
        you can enter your email again to resend the email.
      </p>
    </article>

    <!-- Buttons -->
    <div class="field is-grouped is-grouped-right form__buttons">
      <p class="control">
        <a class="button is-light is-rounded" routerLink="/login">
          Back
        </a>
      </p>
      <p class="control">
        <button 
          data-test="submit-button"
          class="button is-accent is-rounded" 
          type="submit" 
          [class.is-loading]="sendingEmail">
          Send Email
        </button>
      </p>
    </div>
  </form>
</div>