// ==================
// Bulma Variables
// ==================

// Color
$primary: #bee0c0; 
$secondary: #11672C; // this color does not match with light grey or the primary color
$secondary-dark: #114910;
$accent: #ffff77;
$dark-black: #232323;
$light-black: #353535;
$primary-invert: $dark-black;
$warning-invert: $dark-black;


// Typography
$family-sans-serif: Arial, Helvetica, sans-serif;
$family-secondary: 'Fredoka One', cursive;
$text: $dark-black;
$title-color: $dark-black;
$subtitle-color: $dark-black;

// Navbar
$navbar-background-color: $primary;
$navbar-item-color: $dark-black;
$navbar-item-hover-background-color: $secondary;
$navbar-item-hover-color: #FFF;

// ==================
// Bulma Imports
// ==================
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/file.sass";
@import "../node_modules/bulma/sass/form/tools.sass";





// ==================
// ==================
// Global Styles
// ==================
// ==================

.is-accent {
  background-color: $accent;
  border: none;

  &:hover {
    background-color: #f7f772;
  }

  // This changes the loading spinner to a darker color
  &.is-loading::after {
    border: 2px solid #232323;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
  }
}

.is-secondary {
  background-color: $secondary;
  border: none;
  color: #FFF;

  &:hover {
    background-color: $secondary-dark;
    color: #FFF;
  }

  &:focus {
    color: #FFF;
  }
}

// ==================
// Typography
// ==================
.has-text-secondary {
  color: $secondary;
}

.has-text-secondary-dark {
  color: $secondary-dark;
}

// ==================
// Page titles
// ==================
.page-header {
  margin-top: 100px;
  margin-bottom: 100px;

  &__title::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $secondary;
    margin-right: 10px;
    margin-bottom: -2px;
  }

  &__title::after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $secondary;
    margin-left: 10px;
    margin-bottom: -2px;
  }
}

// ==================
// Forms
// ==================
.form {
  &__container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &--login {
    max-width: 500px;
  }

  &__error-msg {
    margin-top: 30px;
  }

  &--rounded-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &--rounded-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  &__buttons {
    margin-top: 100px;
  }
}